
cache
__pycache__

models
lora_models*
eden_lora_training_runs/
datasets

*.tar
.env
.cog
.huggingface
rendered_images*

gridsearch*
aesthetic_score_best_model.pth

# experiment folders:
conditioning_spaces/
training_args_x_*.json
xander_configs/
debug/*

