models
lora_models*
remove
cache
__pycache__
scripts/gridsearch*
*.tar
.env
.cog
xander*.sh
.huggingface
tests/
train.py
debug/*
rendered_images*
!debug/*.py
gridsearch*
xander*
aesthetic_score_best_model.pth
training_args_x_*.json
eval_images/