.ipynb_checkpoints/
cache
__pycache__

models
lora_models*
datasets

*.tar
.env
.cog
.huggingface
train.py
rendered_images*

gridsearch*
aesthetic_score_best_model.pth

# experiment folders:
conditioning_spaces/
training_args_x_*.json
xander_configs/
debug/*
wandb/
sd3_sweep_outputs/
sd3_face_sweep_configs/