torch>=2.1.0
torchvision>=0.16.0
transformers>=4.38.1
diffusers>=0.27.2
ujson>=5.9.0
scipy>=1.12.0
peft>=0.10.0
invisible-watermark>=0.2.0
pandas==2.2.1
numpy>=1.26.4
opencv-python>=4.1.0.25
mediapipe>=0.10.11
openai>=1.14.0
python-dotenv
prodigyopt
omegaconf
ujson